<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" id="navbar_container">
			<div class="navbar-header">
	            <a href="/" class="navbar-brand"><img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/American_football_icon_simple.svg" alt="football logo" class="logo"/></a>    
	            <a href="/" class="navbar-brand">Fantasy Track</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">     
				<ul class="nav navbar-nav navbar-right">
						
	      		</ul>
	        </div>
	    </div>
	</nav>
</div>  
