/*Page Styles*/

#page_background {
	background-color: #F5F5F5;
    padding-top: 70px;
}

#roster ul a{
	text-decoration: none;
}

#player_list {
    height: 650px;
    overflow: scroll;
}

#player_list a {
    text-decoration: none;
}

#player_list li p {
    display: inline;
    color: #337ab7;
}

#player_back {
    margin: 10px;
    margin: 0px;
    position: absolute;
    right: 0;
}

#team_button {
    margin: 5px;
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1;
}

/*#roster_header {
    display: flex;
    justify-content: center;
    position: relative;
}*/

#team_header {
    text-align: center;
    color: #337ab7;
}

#team_head_div {
    display: inline;
}

#player_header {
    text-align: center;
    color: #337ab7;
    margin-bottom: 15px;
}

#roster_list li p {
	display: inline;
    width: 100%;
    color: #337ab7;
}

#team_list li p {
    display: inline;
    color: #337ab7;
}

.delete_player {
    border-radius: 50%;
    border: 1px solid gray;
}

#save_team {
    margin: 5px;
}

#load_team {
    margin: 5px;
}

#reset_team {
    margin: 5px;
}

#delete_team {
    margin: 5px;
}

#team_page {
    margin: 5px;
}

#team_name {
    color: #337ab7;
}

.player {
    background-color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
}

.player h1, h2, h3, h4 {
    color: #337ab7;
}

#big_logo {
   width: 150px;
   height: 150px;
}

#player_button {
    position: fixed;
    top: 90px;
    right: 50px;
    z-index: 1;
}

.logo {
    width: 50px;
    height: 50px;
}

.better_projection {
    margin-right: 7px;
    width: 50px;
    height: 50px;
}

.worse_projection {
    margin-right: 7px;
    width: 50px;
    height: 50px;
}

.good_year {
    margin-right: 7px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.starter {
    margin-right: 7px;
    width: 50px;
    height: 50px;
}

.bench_player {
    margin-right: 7px;
    width: 50px;
    height: 50px;
}

.stats_icon {
    display: inline-block;
    margin: 10px;
}

.small_player {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 20px;
    border: 1px solid gray;
}

.small_player h1, h2, h3, h4, p {
    color: #337ab7;
}

.small_headline {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.highlight {
    background-color: #d3d3d3;
    border: 1px solid grey;
    z-index: 1;
    transform: scale(1.01);
}

@media (min-width: 992px) {
    #player_back {
        visibility: hidden;
    }
    #team_button {
        visibility: hidden;
    }
    #player_button {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    #collapse {
        text-align: center;
    }
}